/* OutlinedButton.css */
.outlined-button {
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    background: transparent;
    cursor: pointer;
  }
  
  .outlined-button:hover {
    background-color: #3498db;
    color: #ffffff;
    border-color: #2980b9;
  }
  
  .outlined-button:focus {
    outline: none;
  }
  
  .outlined-button:active {
    background-color: #2980b9;
    border-color: #1c5980;
  }
  